<div class="side-menu">
    <base href="./">
    <todo-list-add-dialog
        [visible]="categoryDialogVisible"
        [header]="categoryDialogHeader"
        (visibleChange)="categoryDialogVisible = $event"
        (valueChange)="addNewCategory($event)"
    ></todo-list-add-dialog>

    <todo-list-add-dialog
        [visible]="tagDialogVisible"
        [header]="tagDialogHeader"
        (visibleChange)="tagDialogVisible = $event"
        (valueChange)="addNewTag($event)"
    ></todo-list-add-dialog>

    <p-menu [model]="items" class="flex">
        <ng-template #start>
            <span>
                <h1>Menu</h1>
            </span>
        </ng-template>
        <ng-template #submenuheader let-item>
            <span>{{ item.label }}</span>
        </ng-template>
        <ng-template #item let-item>
            <a pRipple class="flex items-center p-menu-item-link" *ngIf="item">
                <span [class]="item.icon"></span>
                <span *ngIf="item.label" style="margin-right: 1rem">{{ item.label }}</span>
                <p-badge *ngIf="item.badge" [value]="item.badge" />
                <p-tag *ngIf="item.tag" [value]="item.tag" />
                <div *ngIf="item.isDynamic" class="flex ml-auto">
                    <ng-container *ngIf="!item.isEditing">
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-pencil"
                            class="p-button-rounded p-button-success custom-menu-button mr-2"
                            (click)="item.icon === 'pi pi-tag' ? startEditCategoryItem(item.label) : startEditTagItem(item.label)"
                        ></button>
                        <button
                            pButton
                            pRipple
                            type="button"
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger custom-menu-button"
                            (click)="item.icon === 'pi pi-tag' ? confirmDeleteCategory(item.label) : confirmDeleteTag(item.label)"
                        ></button>
                    </ng-container>
                    <ng-template #editingState>
                        <ng-container *ngIf="item.isEditing">
                            <input
                                type="text"
                                pInputText
                                [(ngModel)]="item.label"
                                #editInput
                                class="w-full"
                                (keydown.enter)="item.icon === 'pi pi-tag' ? saveEditCategory(item.label, editInput.value) : saveEditTag(item.label, editInput.value)"
                            />
                            <button
                                pButton
                                pRipple
                                type="button"
                                icon="pi pi-times"
                                class="p-button-rounded p-button-secondary ml-2 custom-menu-button"
                                (click)="item.icon === 'pi pi-tag' ? cancelEditCategory() : cancelEditTag()"
                            ></button>
                        </ng-container>
                    </ng-template>
                </div>
            </a>
        </ng-template>
    </p-menu>
    <p-confirmDialog></p-confirmDialog>
    <p-toast></p-toast>
</div>