<div class="side-menu">
    <p-menu [model]="items" class="flex">
        <ng-template #start>
            <span>
                <h1>Menu</h1>
            </span>
        </ng-template>
        <ng-template #submenuheader let-item>
            <span>{{ item.label }}</span>
        </ng-template>
        <ng-template #item let-item>
            <a pRipple class="flex items-center p-menu-item-link">
                <span [class]="item.icon"></span>
                <span>{{ item.label }}</span>
                <p-badge *ngIf="item.badge"  [value]="item.badge" />
                <p-tag *ngIf="item.tag" [value]="item.tag" />

            </a>
        </ng-template>
    </p-menu>
</div>
