/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";



.card{
    height: 100%;
    border-radius: 10px;
}


.flex{

    height: 100%;

}

html, body, app-root {
    height: 100%;
    width: 40%;

}

p-menu {
height: 100%;
}

.container{
    height: 100%;  
}

.bg-slate-100{
    height: 100%;
}
  