@import "primeicons/primeicons.css";


/* @import "tailwindcss"; */


/* TODO Altura de el menu izquierdo */

.flex{

    height: 100%;

}

html, body, app-root {
    height: 100%;
    width: 100%;
}

 p-menu {
height: 100%;
}

.container{
    height: 100%;  
}
 .bg-slate-100{
    height: 100%;
} 



/* TODO Posicion del menu derecho */

/* .flex-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
} */

.flex-container-column{
    display: grid;
    place-items: center;
    height: 300px;
    width: 100%;
  }


.right-menu{
    margin-left: auto;
    position: absolute;
    right: 0px;
    height: 100%;

    overflow-y: auto; 
    overflow-x: auto;
}

/* TODO Posicion de elementos del menu izquierdo */

ng-template{
    display:flex;
    flex-direction: row;
    height: 100%;
}

p-badge{
    margin-left: auto;
    position: absolute;
    right: 0px;
    height: 100%;
}

h1{
    
    margin: 5px;

    margin-left: 20px;
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* TODO Anchura de menus izquierdo y derecho */



/* TODO posicion de los elementos del menu derecho */

p-floatlabel{
    margin-top: 50px;
}

textarea{
    margin-top: 10px;
}

.task-info{
    margin-top: 30px;
}

.label{

    margin-right: 20px;
}

.elements{
    padding: 20px;
}

p-button{
    margin-left: 40px;
    margin-top: 30px;
}




/* Todo centrado de paginas */

.router-outlet{
    margin-left: 320px;
    margin-right: 335px;
    overflow-y: auto; 
    overflow-x: auto;
}





  